body{
    background-color: #1c1c1c;
}
#Container{
    background-color: #205a3f;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

h1{
    background-color: #23714D;
    color: #f1ccba;
    width: 1000px;
    margin: auto;
    text-align: center;
}

#Content1{
    background-color: #23714f;
    color: #f1ccba;
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 10px;
}

#Content2{
    width: 510px;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}


#Nav1{
background-color: #23714D;
color: #f1ccba;
width: 240px;
height: 150px;
padding-left: 10px;
float: left;
text-align: left;
}
#Nav1 ul{
    list-style-type: none;
    padding: 0px;
}

a{ /*Link*/
    color: #f1ccba;
    font-weight: bold;
}

#Imagine{
    margin: 10px;
    text-align: center;
}

#Nav2{
    background-color: #23714D;
    color: #f1ccba;
    width: 240px;
    height: 150px;
    padding-left: 10px;
    text-align: left;
    float: right;   
}


hr{
    color: #23714D;
}

footer{
    background-color: #23714D;
    color: #f1ccba;
    padding: 5px;
    text-align: right;
    clear: both;
}